* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(61, 61, 61);
}

.sans {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
}

a {
  color: rgba(255, 111, 111, 1);
}

nav {
  background-color: white;
  height: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
  padding: 10px 0;
}

.no-list-style {
  list-style: none;
}

.row {
  margin-top: 15px;
  flex-direction: row;
  display: flex;
}

.fill {
  flex: 1;
}

.page-inner {
  max-width: 1024px;
  width: 100%;
  margin: auto;
}

.nav-inner {
  flex-direction: row;
  display: flex;
  height: 100%;
}

.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.nav-right {
  display: flex;
  flex-direction: row;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-right li {
  transition: all 0.2s;
  display: block;
}

.nav-right li:hover {
  color: rgba(255, 111, 111, 1);
  border-bottom: 2px solid rgba(255, 111, 111, 1);
  background-color: rgba(0, 0, 0, 0.05);
}

.nav-right li:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.nav-right li a {
  display: block;
  height: 100%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: unset;
}

.headshot {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.headshot img {
  width: 100%;
  height: 100%;
}

.name {
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
}

.name span {
  font-family: sans-serif;
}

.badge {
  transition: all 0.2s;
  border-radius: 3px;
  border: 1px solid rgba(255, 111, 111, 1);
  display: inline-block;
  padding: 0px 5px;
  font-size: 13px;
  text-decoration: none;
}

.badge:hover {
  background-color: rgba(255, 111, 111, 0.1);
}

.badge:active {
  background-color: rgba(255, 111, 111, 0.2);
}

.publication .authors span {
  font-style: italic;
  color: rgba(150, 150, 150, 1);
}

.publication .authors span:not(:last-child)::after {
  content: ",";
}

.publication .authors .me {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
